In [1]:
''' Pytho program for different series

Template:

sum=0

n=no upto which we want to find the sum of the series or

we can take input manually as: n=int(input("enter any number n: ",))


for i in range(1,n+1):
      sum=sum+term
print("sum of the series:", sum)


'''

' Pytho program for different series'

In [54]:
import numpy as np

n=5
a=np.arange(n)  #it goes upto 4
print(a)

[0 1 2 3 4]

In [55]:
a=np.arange(n+1)
print(a)

[0 1 2 3 4 5]

In [ ]:
#Arithmetic series:

In [27]:
'''Arithmetic sum 1+2+.......n'''

n=5  #upto 5
sum=0
a=1 #first no
for i in range(1,n+1):
    sum=sum+a
    
    a+=1 #increment by 1 as the series has +1 increment between two consequitive numbers
 
print("sum of first 5 numbers is=", sum)


#How it works:
    
'''a    sum
   1    0+1=1
   2   1+2=3
   3   3+3=6
   4   4+6=10
   5  5+10=15'''

sum of first 5 numbers is= 15

'a    sum\n   1    0+1=1\n   2   1+2=3\n   3   3+3=6\n   4   4+6=10\n   5  5+10=15'

In [ ]:
'''Arithmetic sum 1+2+.......n'''

n=5  #upto 5
sum=0
a=1 #first no
for i in range():
    sum=sum+a
    
    a+=1 #increment by 1 as the series has +1 increment between two consequitive numbers
 
print("sum of first 5 numbers is=", sum)

In [28]:
'''Let do sum the series 10+9+.....1 '''

'Let do sum the series 10+9+.....1 '

In [25]:
n=10
sum=0
a=10 # first no
for i in range(1,n+1):
    sum=sum+a
    #a=a-1
    a-=1
print("sum of first 10 numbers is=", sum)

sum of first 10 numbers is= 55

In [31]:
'''series 1+5+9+13'''

n=4  #total no of terms in the series
sum=0
a=1 #first term in the series
for i in range(1,n+1):
    sum=sum+a
    a+=4 #increment between two numbers in the series
print("sum of the series= ", sum)

sum of the series=  28

In [32]:
'''series 2+4+6+8+10+....100'''


n=100
sum=0
a=2 #first term in the series
for i in range(1,n+1):
    sum=sum+a
    a+=2 #increment between two numbers in the series
print("sum of the series= ", sum)

sum of the series=  10100

In [39]:
'''series x^1 x^2 x^3 x^4 ......x^n'''

#let's take the input for n and x from manually
n=int(input("enter any number n: ",))
x=int(input("enter x: ", ))

sum=0
a=1 #firt term in power
for i in range(1,n+1):
    #sum=sum+pow(x,a)
    sum=sum+x**a
    a=a+1.  # each power term increses by factor 1
print("sum of the series is= ", sum)

enter any number n: 5
enter x: 5
sum of the series is=  3905.0

In [45]:
''' series (1!/x)+(2!/x)+(3!/x)+.....'''

import numpy as np  # due to factorial function
import math

n=5
x=2

sum=0
a=1. #first term of factorial

for i in range(1,n+1):
    sum=sum+(np.math.factorial(a)/x)
    # sum=sum+(math.factorial(a)/x)
    a=a+1 #each term in factorial increses by 1
print("sum of factorial series is: ", sum)

sum of factorial series is:  76.5

/var/folders/px/h6xhv_615bdcvbzrl_q0jfsr0000gn/T/ipykernel_19322/4111874355.py:13: DeprecationWarning: Using factorial() with floats is deprecated
  sum=sum+(np.math.factorial(a)/x)

In [59]:
''' series (3!/x)+(5!/x)+(7!/x)+.....'''

import numpy as np  # due to factorial function
import math

n=10
x=2

sum=0
a=3 #first term of factorial

for i in range(1,n+1):
    sum=sum+(math.factorial(a)/x)
    # sum=sum+(math.factorial(a)/x)
    a=a+2 #each term in factorial increses by 2
print("sum of factorial series is: ", sum)

sum of factorial series is:  2.560647213674402e+19

In [63]:
'''series 1!+2!+3!+...10!'''
import math
n=10
sum=0
a=1
for i in range(1,n+1):
    sum=sum+math.factorial(a)
    a+=1
print("sum of factorials upto 10 is:  ", sum)

sum of factorials upto 10 is:   4037913

In [65]:
'''series (2^x)+(4^x)+(6^x)+.....(10^x)'''

n=10
x=2
sum=0
a=2  #initial term
for i in range(1,10):
    sum=sum+a**x
    a+=2 #each consequitive term increses by 2
print("sum of the series is : ",sum)

sum of the series is :  1140

In [66]:
'''series (2^3/x)+(4^3/x)+(6^3/x)+.....(10^3/x)'''


n=10
x=2
sum=0
a=2  #initial term
for i in range(1,10):
    sum=sum+(a**3/x)
    a+=2 #each consequitive term increses by 2
print("sum of the series is : ",sum)

sum of the series is :  8100.0

In [67]:
'''series (1/2)+(2/4)+(3/6)+   10/20'''

n=10
a=1 #numerator initial value
d=2 #denominator initial value
sum=0
for i in range(1,n+1):
    sum=sum+(a/d)
    a+=1 #each term in numerator increses by 1
    d+=2 #each term in denominator increses by 2
print("sum od the series is: ", sum)

sum od the series is:  5.0

In [70]:
'''series (3/9)+(5/8)+(7/7)+...'''

n=3 # first three terms
sum=0
a=3  #inital value in numerator
d=9  #initial  value in denominator

for i in range(1,n+1):
    sum=sum+a/d
    a+=2  #each term in numerator increses by 2
    d-=1 #each term in denominator decreases by 1
print('sum is: ',sum)

sum is:  1.9583333333333333

In [71]:
#Geometric series

In [77]:
'''sum (1^2)+(2^2)+(3^2)+(4^2)+.....(n^2)=1+4+9+16+25+......100'''

n=100
sum=0
a=1
for i in range(1,n+1):
    sum=sum+a**2
    a+=1
print("sum is:",sum)

sum is: 338350

In [78]:
'''sum 2+4+8+16+ ..... '''

n=5
sum=0
a=2
for i in range(1,n+1):
    sum=sum+a
    a*=2  #each term we get multiply by 2
print("sum is:",sum)

sum is: 62

In [79]:
'''sum 2+6+18+54+ ..... '''

n=5
sum=0
a=2
for i in range(1,n+1):
    sum=sum+a
    a*=3  #each term we get multiply by 3
print("sum is:",sum)

sum is: 242

In [80]:
'''sum (x/2)+(x/4)+(x/8)+(x/16)+ ..... '''

n=5
sum=0
a=2  #initial value in dinominator
for i in range(1,n+1):
    sum=sum+x/a
    a*=2  #each term in dinominator we get multiply by 2
print("sum is:",sum)

sum is: 1.9375

In [ ]:
#Arithmetic series of alternative sign

In [81]:
'''sum 2-6+18-54+ ..... '''
#position of term is 1 2 3 4 
#even position term is negative
#odd position term is positive

n=5
sum=0
a=2
for i in range(1,n+1):
    if i%2==0:  #even position term
        sum=sum-a
    else:   #odd position term
        sum=sum+a
    a*=3  #each term we get multiply by 3
print("sum is:",sum)

sum is: 122

In [ ]:
#Arithmetic and Geometric series

In [82]:
'''sum (x+2/2)+(x+4/4)+(x+6/8)+(x+8/16)+ ..... '''


n=5
sum=0
a=2  #initial value in numerator
d=2   #initial value in dinominator

for i in range(1,n+1):
    sum=sum+(x+a)/d
    a+=2   #each no in numerator we get by adding 2 : Arithmetic series
    d*=2  #each term in dinominator we get multiply by 2 : Geometric series
print("sum is:",sum)

sum is: 5.5

In [83]:
''' sum (x+2^2/1+1!)+(x+4^2/2+4!)+(x+6^2/7!)+(x+8/3+25!)+ ..... '''
import math
n=5
x=2
sum=0
a1=2;a2=1;a3=2
for i in range(1,n+1):
    sum=sum+(x+a1**2)/(a2+math.factorial(a3))
    a1=a1+2
    a2=a1+1
    a3=a3+3
    
print("sum is: ", sum)

sum is:  2.144943951333076